/* noto serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-noto {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

/* inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-inter {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}





/* header */
/* nav */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav{
    
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin: 24px 150px;
}

.ul-li{
    width: 515px;
    height: 60px;
    list-style: none;
    justify-content: space-evenly;
}
.a{
    text-decoration: none;
    
}
.home{
    color: #252432;
}
.shop{
    color: #8987A1;
}
.sec-1{
  margin: 120px 150px;
  justify-content: center;
}
.bn-div1{
    margin-top: 40px;
    flex: 1;
}
.bn-div2{
    justify-content: flex-end;
    flex: 1;
}
/* card section */
.card-title{
    font-size: 3.1rem;
    font-weight: bold;
}
.Plant{
    color: #000000;
}
.card-head{
    text-align: center;
    
    
}
.card-conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px 150px;
    width: calc(());
   
    

}
.card{
    height: 484px;
    width: 270px;
    
}
.lily-lossom{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 500;
}
.usd{
    color: #111111;
    font-size: 1.3rem;
    font-weight: bold;
}
.btn-primary{
    width: 100%;
    height: 50px;
    padding: 19px 80px;
    background-color: #E95A08;
    color: white;
    border: none;
}

.flower-backgroun{
    background-image:url(../assets/news-letter-bg.png);
    height: 533px;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}
.flower-title{
    color: #FFFFFF;
    
}
.flower-input{
    margin-top: 10px;
    row-gap:none;
}
.input-email{
    padding: 13px 40px;
    margin-right:-10px;
}
.btn-secondary{
    background-color: #E95A08;
    color: white;
    padding: 15px 43px;
    border: none;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
}
.footer-div{
    width: 30%;
}
.footer-ul{
    list-style: none;
    gap: 10px;
}


/* sheard styles */
.display-flex{
    display: flex;

}

.pera{
    color: rgba(0, 0, 0, 0.5);
}

.card-conteiner-title{
    padding: 0 260px;
    text-align: center;
}

.bn-title{
    font-size: 4rem;
    font-weight: 600px;
    width: 100%;
    
}
.bn-title-col{
    color: #E95A08;
}





/* responsive */
@media screen and (max-width:768px) {
    /* nav */
    .display-flex{
    display: flex;
    }
    .a{
        display: none;
    }
    /* banner */
    .sec-1{
        display:flex;
        flex-direction: column-reverse;
        
    }
    .bn-div2{
       
    }
    /* card */
    .card-conteiner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 28px 10px;
    }
    /* footer */
    .display-flex{
        display: block;
    }
}